name: Java CI with Gradle

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Start SUT
        run: |
          java -jar ./artifacts/app-card-delivery.jar --server.port=7777 &
          echo "Waiting for SUT to start..."
          for i in {1..15}; do
            if curl -s http://localhost:7777 >/dev/null; then
              echo "SUT is up!"
              break
            fi
            echo "Waiting... ($i)"
            sleep 2
          done

      - name: Build with Gradle
        run: ./gradlew test --info -Dselenide.headless=true
